@import './components/mixins.scss';

.AudioAnalyzer {
	& > canvas {
		max-width: 100%;
		background-color: var(--dark);
	}

	& .controls {
		width: 512px;
		max-width: 100%;
		& > div {
			@extend %tiny-wrap;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			&.file-select {
				justify-content: space-around;
				border: {
					top: solid 1px var(--border);
					bottom: solid 1px var(--border);
				}
				& > button {
					font-weight: normal;
				}
				& > span {
					font-size: 20px;
					font-style: italic;
				}
			}
			& > .MuiButton {
				&-root {
					padding: 10px;
					&:last-child {
						margin-left: 10px;
					}
					& > .MuiButton-label {
						font-weight: bold;
					}
				}
			}
		}
		& > form {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			flex-wrap: wrap;
			padding: 20px;
			& > .MuiTextField {
				&-root {
					margin-bottom: 15px;
					@media screen and (max-width: 640px) {
						width: 100%;
					}
				}
			}
			& > .MuiButton {
				&-root {
					width: 100%;
				}
			}
			& > label {
				& > span {
					font-size: 14px;
					color: var(--dark);
				}
				& > input {
					width: -webkit-fill-available;
					margin: {
						top: 5px;
						right: 10px;
					}
				}
			}
		}
	}
}