.Boombox {
	$border-width: 2px;
	$border-style: solid $border-width var(--dark);
	width: 800px;
	max-width: 100%;
	& > .handle {
		height: 50px;
		border: $border-style;
		border-bottom: none;
		background-color: var(--light);
	}
	& > .body {
		border: $border-style;
		padding: 50px;
		background-color: var(--light);
		& > .filter {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px;
			border: $border-style;
			& > .title {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				& > span {
					font-size: 20px;
					font-weight: bold;
				}
				& > input {
					margin-left: 10px;
				}
			}
			& > .body {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-gap: 20px;
				justify-content: center;
				align-items: center;
				@media screen and (max-width: 800px) {
					grid-template-columns: repeat(2, 1fr);
					& > .MuiTextField {
						&-root {
							grid-column-start: 1;
    					grid-column-end: 3;
						}
					}
				}
				& > label {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					&.type {
						& > select {
							margin-top: 10px;
						}
					}
				}
			}
		}
		& > .master-controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 20px 0;
			@media screen and (max-width: 640px) {
				flex-wrap: wrap;				
			}
			& > * {
				flex-basis: 100%;
				margin-right: 10px;
			}
			& > .control-power {
				grid-area: power;
				padding: 10px;
				font-weight: bold;
				color: var(--light);
			}
		}
		& > .tape {
			display: flex;
			justify-content: center;
			& > .tape-controls-play {
				padding: 15px;
			}
		}
	}
}