@import './components/mixins.scss';

.MultiTrack {
	border: solid 2px var(--dark);
	background-color: var(--light);
	& > .master-controls {
		@extend %tiny-wrap;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
		& > .start {
			font-weight: bold;
			flex-basis: 500px;
		}
		& > .gain {
			margin: 0 10px;
		}
	}
	& > .wrapper {
		& > .tracks {
			& > ul {
				margin: 0;
				padding: 0;
				& > li {
					@extend %tiny-wrap;
					display: flex;
					justify-content: space-around;
					align-items: center;
					list-style: none;
					padding: 20px;
					border: {
						top: solid 2px var(--dark);
					}
					&:last-child {
						border-bottom: solid 2px var(--dark);
					}
					& > a.track {
						color: var(--dark);
						flex-basis: 300px;
					}
					& > .gain {
						margin: 0 10px;
					}
					& > .play {
						text-transform: none;
						& > .MuiButton-label {
							& > .MuiSvgIcon {
								&-root {
									animation-name: loading-animation;
									animation-duration: 1s;
									animation-timing-function: ease-out;
									animation-iteration-count: infinite;
									@keyframes loading-animation {
										from {
											transform: rotate(0);
										}
										to {
											transform: rotate(-360deg);
										}
									}
								}
							}
						}
					}
				}
			}
			& > .Wave {
				width: 100%;
				height: 100%;
			}
			& > .sourced {
				padding: 10px;
			}
		}
	}

	button[disabled] {
		opacity: 0.5;
	}
}